@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height:90%;
    touch-action: none;
}

/*Esto es para el título mi amor*/

h1 {
    position: absolute;
    color: white;
    margin-top: 50px;
    margin-left: 20px;
    font-family: 'Allura', cursive; 
    text-align: center;
}

/*Esto es para unos márgenes y estilos del body mi amor*/

body {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #000000;
    -webkit-perspective: 1000px;
    perspective: 800px;
    -webkit-transform-style: preserve-3d;
}

/*Esto es para la perspectiva 3d*/

#drag-container, #spin-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg);
    transform: rotateX(-10deg);
}

/*Esto es para el tamaño de las imágenes, el borde blanco y otros estilos como la sombra mi amor*/

#drag-container img, #drag-container video {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px #ffffff;
    box-shadow: 0 0 #ffffff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}

/*Esto es para otros estilos de cada imagen y vídeo mi amor*/

#drag-container img:hover, #drag-container video:hover {
    -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.867);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.867);
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}

/*Esto es para el texto del centro mi amor*/
#drag.container, p {
    font-family: serif;
    position: absolute;
    top: 100%;
    left: 50%;
    text-align: center;
    font-size: 1.5em;
    -webkit-transform: translate(-50%, -50%) rotateX(90deg);
    color: #ffffff;
}

/*Esto es para que pueda girar la galería mi amor */

#ground {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: -webkit-radial-gradient(center center, farthest-side, rgba(255, 255, 255, 0.2), transparent);
}

@-webkit-keyframes spin {
    from{
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    } to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes spin {
    from{
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    } to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@-webkit-keyframes spinRevert {
    from {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    } to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

@keyframes spinRevert {
    from {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    } to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

/*Responsive*/

@media only screen and (max-width:867px){

h1 {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
}
}
